.ui borderless topmenu menu {
    justify-content: center;
    text-align: center;
}

.appBar {
    justify-content: center;
    text-align: center;
}

.login {
    margin-left: auto;
}

.keyboards-header {
    margin-left: auto;
    text-align: right;
    /* background-color: aqua; */
    padding: 10px;
}

.ui-cards{
    justify-content: center;
    padding: 10px;
    /* text-align: ; */
}